.logs {
	grid-area: 1 / 1 / 2 / 2;
	height: 0;
	position: sticky;
	top: 0;
	width: 100%;

	ul {
		position: absolute;
		inset-inline: 0;
		top: 0;
		height: auto;
		pointer-events: none;
		padding: 1em;
		/*opacity: 0.9;*/
		color: oklch(from var(--bg) 30% c h);
		overflow: hidden;
		white-space: pre;
		display: flex;
		flex-direction: column-reverse;
	}
}
