.logs {
	ul {
		inset-inline: 0;
		pointer-events: none;
		padding-inline: 1em;
		color: oklch(from var(--bg) 30% 0.1 h);
		white-space: pre;
		display: flex;
		flex-direction: column-reverse;
		font-size: 0.8rem;
		justify-content: flex-end;
		font-weight: 200;
		height: 100%;

		mask-image: linear-gradient(
			to bottom,
			black,
			black calc(100% - 2em),
			transparent 100%
		);
	}
}
