* {
	box-sizing: border-box;
}

:root {
	--theme: oklch(30% 0.08 148);
	--bg: oklch(from var(--theme) 12% c h);
	--bg-accent: oklch(from var(--theme) 23% 0.05 h);
	--color: oklch(from var(--theme) 91% 0.03 h);
	--border: 1px solid var(--bg-accent);

	background-color: var(--bg);
	color: var(--color);
	font-family: Menlo, Monaco, 'Courier New', monospace;
	font-variant-numeric: tabular-nums;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: minmax(10px, 1fr) minmax(auto, 650px) minmax(10px, 1fr);

	&::before {
		border-bottom: var(--border);
	}

	&::after {
		border-top: var(--border);
	}

	&::before,
	&::after {
		content: '';
		height: 10px;
		display: block;
		grid-column: 1 / 4;
	}
}

hr {
	all: initial;
	grid-column: 1 / 4;
	border-top: var(--border);

	&[data-big] {
		height: 2lh;
		background-size: 10px 10px;
		border-bottom: var(--border);
		background-image: repeating-linear-gradient(315deg, var(--bg-accent) 0, var(--bg-accent) 1px, transparent 0, transparent 50%);
		display: grid;
		grid-template-columns: subgrid;

		&::after {
			content: '';
			display: block;
			grid-column: 2 / 3;
			border-inline: var(--border);
		}
	}
}

section {
	padding: 10px;
	grid-column: 2 / 3;
	border-inline: var(--border);
}

svg {
	fill: currentColor;
}

.links {
	display: flex;
	flex-direction: row-reverse;
	padding: 0;

	a {
		cursor: pointer;
		padding: 10px;
		border-inline-start: var(--border);
		display: flex;
		color: currentColor;
	}

	svg {
		height: 1lh;
		width: 1lh;
	}
}

.head {
	padding: 20px;
	background-image: radial-gradient(var(--bg-accent) 1px, transparent 0);
	background-size: 10px 10px;
	display: flex;
	justify-content: center;
	position: relative;

	svg {
		border: var(--border);
		border-radius: 50%;
		padding: 20px;
		overflow: inherit;
		background: var(--bg);
		height: 140px;
	}

	h1 {
		position: absolute;
		bottom: 10px;
		left: 10px;
		margin: 0;
		font-size: 1rem;
	}
}

h1 {
	/* filter: url(#glitch); */
	animation: 5s steps(4, jump-end) glitch infinite;
}

@keyframes glitch {

	0%,
	90% {
		filter: none;
	}

	100% {
		filter: url(#glitch);
		;
	}
}

h2 {
	text-align: center;
}

.identity {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		inset: 0 auto 0 -10px;
		width: 1px;
		background-color: var(--bg-accent);
	}
}